<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://https://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div layout:fragment="content">
    <form method="POST" th:action="@{/admin/category/do-add}" th:object="${category}">
        <div class="card-body">
            <div class="form-group">
                <label>FullName</label>
                <input type="text" th:field="*{name}" class="form-control" placeholder="Tên danh mục">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>